<md-progress-bar *ngIf="isFetchingDataFromServer" color="accent" mode="indeterminate"></md-progress-bar>
<br>
<br>
<div class="container">
	<!-- search and event status filter criteria -->
	<div class="row">
		<div class="col-md-4 col-xs-12 col-sm-6">
			<md-radio-group [(ngModel)]="currentEventStatus">
				<md-radio-button value="open" (click)="getEventsWithStatus('open')">Open </md-radio-button>
				<md-radio-button value="soldout" (click)="getEventsWithStatus('soldout')">Sold Out </md-radio-button>
				<md-radio-button value="closed" (click)="getEventsWithStatus('closed')">Closed </md-radio-button>
			</md-radio-group>
		</div>
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12 pull-right">
			<md-input [(ngModel)]="searchKeyword"></md-input>
			<button md-button (click)="searchEvents()">Search</button>		
		</div>
	</div>
	<!-- end of search and event status filter criteria -->
	<!-- list of events -->
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let event of events">
			<event-basic-info [event]="event"></event-basic-info>	
		</div>
	</div>
	<!-- end of list of events -->
	<!-- pagination -->
	<hr>
	<div class="row">
		<div class="col-xs-12 text-center">
			<pagination *ngIf="canShowPagination" [totalPages]="totalPages" (currentPageChanged)="changeCurrentPage($event)"></pagination>
		</div>
	</div>
	<!-- end of pagination -->
</div>