<form>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<md-input placeholder="Event Title" class="full-width" required maxLength="200"></md-input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<md-input placeholder="Event Image url" class="full-width" required maxLength="200"></md-input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<editor placeholder="Event Description"></editor>
			</div>
		</div>
	</div>	
</form>
